body{
    background-color: beige;
    align-items: center;
    text-align: center;
}
h1{
    background-color: rgb(227, 240, 138);
    font-style: italic;
    font-size: larger;
    font-weight: 200;
}
    
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-weight: 200;  
    font-size: 18px; 
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.container{
    padding: 20px;
    background-color: cornsilk;
    border-radius: 45px;
    border: 2px solid black;
    font-style: italic;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}

